body{
    background-image: url(https://cdn.pixabay.com/photo/2015/10/12/22/43/fox-985292_960_720.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.hero{
    color: aliceblue;
    margin-top: 20%;
}
p{
    color: white;
}
button{
    width: 190px;
}
a {
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    text-decoration: none;
    color: aliceblue;
}
@media only screen and (max-width: 600px) {
.hero {
    color: aliceblue;
    margin-top: 75%;
}
button{
    width: 100px;
}
}